---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import QuickActions from '../components/QuickActions.astro';
import FeaturedProperties from '../components/FeaturedProperties.astro';
import Testimonials from '../components/Testimonials.astro';
import FeaturedBlogs from '../components/FeaturedBlogs.astro';
import WorkWithUs from '../components/WorkWithUs.astro';
import Footer from '../components/Footer.astro';
import ParallaxBanner from '../components/ParallaxBanner.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <QuickActions />
    <FeaturedProperties />
    <Testimonials />
    <FeaturedBlogs />
    <ParallaxBanner image="/images/generated/hill-country-sunset.png" />
    <WorkWithUs />
  </main>
  <Footer />
</Layout>
